$colors: (
    common: (
        white: #ffffff,
        black: #000,
    ),
    heading: (
        primary: #050D36,
        secondary:#19ae51,
        b-light:#050D36,
    ),
    grey: (
        1:#F8FAFA,
        2:#F5F6F8,

    ),
    text: (
        body:#000,
        1:#000,
        2:#777C90,
    ),
    theme: (
        1: #19ae51,
        2: #F7F8F9,

    ),
    border: (
        1: #fff,
        2: #19ae50,
    )
);
